.contact-form3-contact9 {
  width: 70%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form3-max-width {
  align-self: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
}
 
.contact-form3-image {
  width: 40%;
  object-fit: cover;
}
 
.contact-form3-content1 {
  gap: 0;
  flex: 1;
  align-items: stretch;
  padding-left: var(--dl-layout-space-unit);
}
 
.contact-form3-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form3-content2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form3-input1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form3-text3 {
  font-size: 20px;
  font-style: normal;
  font-family: "DM Sans";
  font-weight: 500;
}
 
.contact-form3-input2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form3-text4 {
  font-size: 20px;
  font-style: normal;
  font-family: "DM Sans";
  font-weight: 500;
}
 
.contact-form3-container1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.contact-form3-text5 {
  font-size: 20px;
  font-style: normal;
  font-family: "DM Sans";
  font-weight: 500;
}
 
.contact-form3-checkbox1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-unit);
}
 
.contact-form3-checkbox2 {
  width: 10%;
  align-self: stretch;
}
 
.contact-form3-text6 {
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.contact-form3-button {
  width: 50%;
  align-self: center;
}
 
.contact-form3-container3 {
  display: contents;
}
 
.contact-form3-fragment1 {
  display: contents;
}
 
.contact-form3-text7 {
  display: inline-block;
}
 
.contact-form3-fragment2 {
  display: contents;
}
 
.contact-form3-text8 {
  display: inline-block;
}
 
.contact-form3-fragment3 {
  display: contents;
}
 
.contact-form3-text9 {
  display: inline-block;
}
 
.contact-form3root-class-name {
  max-width: 1400px;
  align-self: center;
}
 
@media(max-width: 1600px) {
  .contact-form3-image {
    width: 45%;
  }
  .contact-form3-text9 {
    font-size: 56px;
    font-style: normal;
    font-family: Space Grotesk;
    font-weight: 700;
  }
  .contact-form3root-class-name {
    max-width: 1250px;
  }
}
 
@media(max-width: 1200px) {
  .contact-form3-contact9 {
    width: 80%;
  }
  .contact-form3-image {
    width: 45%;
  }
  .contact-form3-text9 {
    font-size: 45px;
    font-style: normal;
    font-family: Space Grotesk;
    font-weight: 700;
  }
}
 
@media(max-width: 991px) {
  .contact-form3-contact9 {
    padding: var(--dl-layout-space-unit);
  }
  .contact-form3-max-width {
    flex-direction: column;
  }
  .contact-form3-image {
    width: 75%;
  }
  .contact-form3-content1 {
    width: 100%;
    padding: var(--dl-layout-space-unit);
  }
  .contact-form3-checkbox1 {
    padding-top: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .contact-form3-button {
    width: 50%;
    align-self: center;
  }
  .contact-form3-text9 {
    font-size: 40px;
  }
}
 
@media(max-width: 767px) {
  .contact-form3-contact9 {
    width: 100%;
  }
  .contact-form3-image {
    width: 70%;
  }
  .contact-form3-content1 {
    width: 80%;
  }
  .contact-form3-text1 {
    padding-top: var(--dl-layout-space-halfunit);
  }
  .contact-form3-checkbox1 {
    padding-top: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .contact-form3-button {
    width: 50%;
    align-self: center;
    padding-top: var(--dl-layout-space-halfunit);
  }
  .contact-form3-text9 {
    font-size: 25px;
  }
}
 
@media(max-width: 479px) {
  .contact-form3-max-width {
    padding: var(--dl-layout-space-halfunit);
    align-self: center;
  }
  .contact-form3-image {
    width: 65%;
  }
  .contact-form3-content1 {
    width: 100%;
  }
  .contact-form3-form {
    padding-bottom: var(--dl-layout-space-unit);
  }
  .contact-form3-checkbox1 {
    padding-top: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .contact-form3-button {
    width: 60%;
    align-self: center;
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .contact-form3-text9 {
    font-size: 20px;
  }
  .contact-form3root-class-name {
    width: 90%;
    max-width: auto;
  }
}
